@import "tailwindcss";

:root {
  font-family: 'Space Grotesk', sans-serif;
  --color-primary-orange: #d4561c;
  --color-charcoal-black: #1e1e1e;
}

body {
  background-color: white;
  color: var(--color-charcoal-black);
}